body{
	background-color: cadetblue;
}

h1{
	color: azure;
}

.btn{
	border: 1px black solid;
	width: 100px;
	height: 40px;
	text-align: center;
	color: white;
	float: left;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

.btn:hover{
	color: black;
}

.btn:active{
	background-color: gray;
}

.btnOff{
	background-color:crimson;
}

.btnOn{
	background-color:darkgreen;
}

.btnRe{
	background-color:darkgoldenrod;
}

.btnDisabled{
	background-color: gray;
}
