

{% block content %}
	<div class="serviceStatusDiv">
		Status of {{serviceName}} service is: {{ serviceStatus }}
	</div>
	
	
	<input type="checkbox" value="On" {{ checked }}>Activate service</input>
	
	<form action="{{ url('switch') }}" method="POST">
		<button type="submit" disabled name="serviceSwitch" value="off" class="btnOff btn">OFF</button>
		<button type="submit" name="serviceSwitch" value="on"  class="btnOn btn">ON</button>
		<button type="submit" name="serviceSwitch" value="restart"  class="btnRe btn">RE</button>
	</form>
	
{% endblock %}